<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- SEO Meta Tags -->
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="keywords" content="{{ with .Keywords }}{{ delimit . ", " }}{{ else }}{{ delimit .Site.Params.keywords ", " }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{{ .Site.Params.opengraph.type }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:image" content="{{ .Site.Params.opengraph.image | absURL }}">

<!-- Twitter -->
<meta name="twitter:card" content="{{ .Site.Params.twitter.card }}">
<meta name="twitter:site" content="{{ .Site.Params.twitter.site }}">
<meta name="twitter:creator" content="{{ .Site.Params.twitter.creator }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="twitter:image" content="{{ .Site.Params.opengraph.image | absURL }}">

<!-- Canonical URL -->
<link rel="canonical" href="{{ .Permalink }}">

<!-- RSS -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end -}}

<!-- Custom CSS -->
{{ range .Site.Params.custom_css }}
<link rel="stylesheet" href="{{ . | absURL }}">
{{ end }} 